@main("Schedule Page"){
	<script type='text/javascript' src='@routes.Assets.at("js/util.js")'></script>
	<script>
		function fillScheduleForArea(){
			var scheduleSelect = document.getElementById('area_select');
			var schedule = document.getElementById('schedule');
			schedule.innerHTML = httpGet('/getSchedule/From/' + scheduleSelect.value);
			schedule.style.display = "block";

		}
	</script>
	
	<a href="@routes.Application.index()">Menu</a>
	<h2>Schedule Page</h2>
	<select id="area_select" onchange="fillScheduleForArea()"></select>

	<script>
		document.getElementById('area_select').innerHTML = httpGet('@routes.Application.getAreas()');
	</script>


	<div id="schedule" style="display: none"></div>

}
