@main("Schedule Page"){
	<script type='text/javascript' src='@routes.Assets.at("js/util.js")'></script>
	<script>
		function fillScheduleForArea(){
			var scheduleSelect = document.getElementById('area_select');
			var schedule = document.getElementById('schedule');
			schedule.innerHTML = httpGet('/getSchedule/From/' + scheduleSelect.value);
			var scheduleArea = document.getElementById('scheduleArea');
			scheduleArea.style.display = "block";
		}
		function scheduleNewShift(){
			var scheduleSelect = document.getElementById('area_select');
			httpPost('/scheduleNext/For/' + scheduleSelect.value,
				function(){
					fillScheduleForArea();
				});
		}
	</script>
	
	<a href="@routes.Application.index()">Menu</a>
	<h2>Schedule Page</h2>
	<select id="area_select" onchange="fillScheduleForArea()"></select>

	<script>
		document.getElementById('area_select').innerHTML = httpGet('@routes.Application.getAreas()');
	</script>


	<div id="scheduleArea" style="display: none">
		<div id="schedule"></div>
		<button onclick="scheduleNewShift()">Add New</button>
	</div>

}
